@import "tailwindcss";

/* Para navegadores baseados em WebKit (Chrome, Safari, Edge) */
::-webkit-scrollbar {
  width: 8px; /* Largura do scroll */
}

::-webkit-scrollbar-track {
  background: #f1f1f1; /* Cor de fundo da trilha do scroll */
  border-radius: 10px; /* Bordas arredondadas */
}

::-webkit-scrollbar-thumb {
  background: #888; /* Cor da parte que move */
  border-radius: 10px; /* Bordas arredondadas */
}

::-webkit-scrollbar-thumb:hover {
  background: #555; /* Cor quando o usuário passa o mouse */
}
